<!-- Extiende o hereda de una plantilla base llamada "base.html" -->
{% extends "base.html" %}

<!-- Carga las herramientas para gestionar archivos estáticos (como imágenes, CSS, JS) -->
{% load static %}

<!-- Inicio de la sección de contenido. Este bloque reemplazará el bloque "content" en "base.html" -->
{% block content %}

<!-- Contenedor principal para centrar el contenido -->
<div class="container mt-5">
    
    <!-- Fila para la alineación y estructuración del contenido -->
    <div class="row justify-content-center">
        
        <!-- Columna que ocupa la mitad del ancho en dispositivos medianos y más grandes (6/12) -->
        <div class="col-md-6">
            
            <!-- Saludo para los visitantes -->
            <h2>Bienvenido, Invitado</h2>

            <!-- Botón que redirige a la vista "drag_drop_view" para probar la funcionalidad drag and drop -->
            <a href="{% url 'drag_drop_view' %}" class="btn btn-primary">Test dragDrop</a>

            <!-- Botón que redirige a la vista de inicio de sesión -->
            <a href="{% url 'login' %}" class="btn btn-danger">Iniciar Sesión</a>
        </div>
    </div>
</div>

{% endblock %}

